*, *::after, *::before{
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem == 10px (by default 1rem == 16px)
  background-color: #f5f8f9;
}

body {
  color: $dark-grey;
  font-family: 'Ubuntu', sans-serif;
  font-size: $font-m-size;
  line-height: 1.6;
}

a {
  color: $blue;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}