/** COLORS **/
// text
$white: #fff;

$transparent-grey: #e6e6e6;
$light-grey: #b3b3b3;
$dark-grey: #333;

$red: #FF1939;
$blue: #286ebb;


/** FONT SIZES **/
$font-s-size: 0.6rem;
$font-m-size: 1rem;
$font-l-size: 1.5rem;


/** SPACINGS **/
$gap-s-size: 0.5rem;
$gap-m-size: 1rem;
$gap-l-size: 2rem;